{% extends 'linktastic/base.html' %}

{% load static %}

{% block content %}

{% block extra_style %}
<style>
  .form-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }

  .form-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
  }

  .change-password-form .form-field {
    margin-bottom: 10px;
  }

  .change-password-form label {
    display: block;
    text-align: center;
    font-size: 18px;
    margin-bottom: 5px;
  }

  .change-password-form input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  .submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #964B00;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
  }

  .submit-button:hover {
    background-color: #763A00;
  }

  .field-error {
      color: red;
      font-size: 14px;
  }
</style>
{% endblock extra_style %}
<div class="form-container">
  <h1 class="form-title">Change Password</h1>

  <form method="post" class="change-password-form">
      {% csrf_token %}
      
      <div class="form-field">
          <label for="{{ form.old_password.id_for_label }}">Old Password</label>
          {{ form.old_password }}
          {% if form.old_password.errors %}
              <div class="field-error">{{ form.old_password.errors|join:", " }}</div>
          {% endif %}
      </div>

      <div class="password-help-text">
        {{ form.new_password1.help_text|safe }}
      </div>

      <div class="form-field">
          <label for="{{ form.new_password1.id_for_label }}">New Password</label>
          {{ form.new_password1 }}
          {% if form.new_password1.errors %}
              <div class="field-error">{{ form.new_password1.errors|join:", " }}</div>
          {% endif %}
      </div>

      <div class="form-field">
          <label for="{{ form.new_password2.id_for_label }}">Confirm New Password</label>
          {{ form.new_password2 }}
          {% if form.new_password2.errors %}
              <div class="field-error">{{ form.new_password2.errors|join:", " }}</div>
          {% endif %}
      </div>
      
      <button class="submit-button" type="submit">Change Password</button>
  </form>
  <br>
  <br>
  <a href="{% url 'settings' %}" class="submit-button">Return to Settings</a>
</div>
{% endblock %}
