{% extends 'linktastic/base.html' %}

{% load static %}

{% block content %}

<body>
    <div>
      <div class="rl_footer1_component">
        <div class="rl-padding-global-2">
          <div class="rl-container-large-2">
            <div class="rl-padding-section-medium">
              <div class="w-layout-grid rl_footer1_top-wrapper">
                <div class="rl_footer1_left-wrapper">
                  <div class="rl_footer1_spacing-block-1">
                    <div class="text-block-11">Current Profile</div>
                  </div>
                  <div class="rl-text-style-regular-2">Current profile holder<br>‍</div>
                  <div class="rl_footer1_spacing-block-2"></div>
                </div>
                <div class="w-layout-grid rl_footer1_menu-wrapper">
                  <div id="w-node-e71272f3-d1bc-85fe-e05a-99741eab019e-e9153761" class="rl_footer1_link-list">
                    <h2 class="rl-heading-style-h2-6">Settings</h2>
                    <div class="rl_footer1_spacing-block-4"></div>
                    <a href="#" class="button-3-copy-4 w-button">Remove Profile Picture</a>
                    <div class="rl_contact7_spacing-block-2"></div>
                    <a href="#" class="button-3 w-button">Change Profile Picture</a>
                    <div class="rl_contact7_spacing-block-2"></div>
                    <a href="#" class="button-3-copy-8 w-button">Change  Name</a>
                    <div class="rl_contact7_spacing-block-2"></div>
                    <a href="#" class="button-3-copy-7 w-button">Change Bio</a>
                  </div>
                </div>
              </div>
              <div class="rl_footer1_spacing-block-5"></div>
              <div class="rl_footer1_line-divider"></div>
              <div class="rl_footer1_spacing-block-6"></div>
              <div class="rl_footer1_bottom-wrapper">
                <div class="rl_footer1_credit-text">© 2022 Relume. All right reserved.</div>
                <div class="w-layout-grid rl_footer1_legal-list">
                  <a href="#" class="rl_footer1_legal-link">Privacy Policy</a>
                  <a href="#" class="rl_footer1_legal-link">Terms of Service</a>
                  <a href="#" class="rl_footer1_legal-link">Cookies Settings</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>

{% endblock %}